[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "SoLa18-infoabend"]
	path = SoLa18-infoabend
	url = https://github.com/dpsg-dhc/SoLa18-infoabend.git
